body{
    margin:0;
    background:#0d0d0d;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
}

#welcome{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

button{
    padding:15px 40px;
    font-size:20px;
    background:#ff0000;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#cc0000;
    transform:scale(1.05);
}

.track{
    width:350px;
    margin:40px auto;
    background:#1b1b1b;
    padding:20px;
    border-radius:20px;
}

.track img{
    width:250px;
    border-radius:15px;
}

audio{
    width:100%;
    margin-top:15px;
}
.ctrl{
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#222;
    color:#fff;
    font-size:22px;
    cursor:pointer;
    transition:.2s;
}

.play{
    width:70px;
    height:70px;
    border:none;
    border-radius:50%;
    background:#ff2d55;
    color:#fff;
    font-size:28px;
    cursor:pointer;
    transition:.2s;
}

.ctrl:hover,
.play:hover{
    transform:scale(1.1);
}
